In [1]:
## Vivaldi Rinaldi

# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2

##### This notebook is set up to link as a default to the fb55 account.  To turn in the homework use the same account you used in the lab (hvt201)  and query the database that you were querying in class (citibike_feb_2015)

In [1]:
SQL_SOURCE = 'https://fb55.carto.com:443/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [2]:
def get_data(test):
    try:
        return pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
    except ValueError as v:
        print (str(v))

In [3]:
test = '''
SELECT *
FROM fb55.citibike
'''
table = get_data(test)
table.head()

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0

In [4]:
len(table)

46200

### Task 1

In [5]:
## Sort data by start_station_id and tripduration where tripduration is less than 3 hours
test  = '''
SELECT * 
FROM fb55.citibike 
WHERE tripduration < 10800
ORDER BY start_station_id, tripduration
LIMIT 10
;
'''

table = get_data(test)
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,9059,-73.993929,107,2015-02-03 10:10:00+00,2015-02-03 10:12:00+00,72,8998,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19039,Subscriber,1980,2
1,NaN,W 52 St & 11 Ave,NaN,40772,-73.993929,189,2015-02-07 10:40:00+00,2015-02-07 10:43:00+00,72,40759,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,18131,Subscriber,1959,2
2,NaN,W 52 St & 11 Ave,NaN,40770,-73.993929,229,2015-02-07 10:40:00+00,2015-02-07 10:44:00+00,72,40757,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19729,Subscriber,1995,1
3,NaN,W 52 St & 11 Ave,NaN,22002,-73.993929,248,2015-02-05 06:19:00+00,2015-02-05 06:24:00+00,72,21948,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,16879,Subscriber,1970,1
4,NaN,W 52 St & 11 Ave,NaN,43107,-73.993929,252,2015-02-07 15:43:00+00,2015-02-07 15:47:00+00,72,43099,40.767272,515,W 43 St & 10 Ave,40.760094,-73.994618,15277,Subscriber,1983,1
5,NaN,W 52 St & 11 Ave,NaN,32603,-73.993929,261,2015-02-06 08:58:00+00,2015-02-06 09:02:00+00,72,32566,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,18492,Subscriber,1971,1
6,NaN,W 52 St & 11 Ave,NaN,16015,-73.993929,276,2015-02-04 12:46:00+00,2015-02-04 12:51:00+00,72,15971,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,19216,Subscriber,1961,1
7,NaN,W 52 St & 11 Ave,NaN,41366,-73.993929,283,2015-02-07 12:10:00+00,2015-02-07 12:15:00+00,72,41355,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,21588,Subscriber,1974,1
8,NaN,W 52 St & 11 Ave,NaN,42084,-73.993929,288,2015-02-07 13:50:00+00,2015-02-07 13:54:00+00,72,42074,40.767272,514,12 Ave & W 40 St,40.760875,-74.002777,19124,Subscriber,1978,1
9,NaN,W 52 St & 11 Ave,NaN,2348,-73.993929,301,2015-02-01 13:08:00+00,2015-02-01 13:13:00+00,72,2282,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,18174,Subscriber,1974,1

In [6]:
## Show last 10 of sorted data by start_station_id and tripduration where tripduration is less than 3 hours

test  = '''
SELECT * 
FROM fb55.citibike 
WHERE tripduration < 10800
ORDER BY start_station_id DESC, tripduration DESC
LIMIT 10
;
'''

table = get_data(test)
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,South End Ave & Liberty St,NaN,1576,-74.015756,7225,2015-02-01 11:46:00+00,2015-02-01 13:47:00+00,3002,1506,40.711512,499,Broadway & W 60 St,40.769155,-73.981918,21202,Customer,NaN,0
1,NaN,South End Ave & Liberty St,NaN,8891,-74.015756,2139,2015-02-03 09:33:00+00,2015-02-03 10:09:00+00,3002,8831,40.711512,510,W 51 St & 6 Ave,40.760660,-73.980420,15552,Subscriber,1958.0,1
2,NaN,South End Ave & Liberty St,NaN,23568,-74.015756,2131,2015-02-05 08:42:00+00,2015-02-05 09:17:00+00,3002,23529,40.711512,359,E 47 St & Park Ave,40.755103,-73.974987,21473,Subscriber,1985.0,1
3,NaN,South End Ave & Liberty St,NaN,10232,-74.015756,1977,2015-02-03 16:04:00+00,2015-02-03 16:37:00+00,3002,10173,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15309,Subscriber,1969.0,1
4,NaN,South End Ave & Liberty St,NaN,27243,-74.015756,1977,2015-02-05 16:11:00+00,2015-02-05 16:44:00+00,3002,27203,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20069,Subscriber,1969.0,1
5,NaN,South End Ave & Liberty St,NaN,6846,-74.015756,1976,2015-02-02 09:21:00+00,2015-02-02 09:53:00+00,3002,6781,40.711512,494,W 26 St & 8 Ave,40.747348,-73.997236,19665,Subscriber,1959.0,1
6,NaN,South End Ave & Liberty St,NaN,44708,-74.015756,1920,2015-02-07 18:36:00+00,2015-02-07 19:08:00+00,3002,44703,40.711512,410,Suffolk St & Stanton St,40.720664,-73.985180,15443,Subscriber,1964.0,2
7,NaN,South End Ave & Liberty St,NaN,11648,-74.015756,1908,2015-02-03 18:54:00+00,2015-02-03 19:26:00+00,3002,11587,40.711512,279,Peck Slip & Front St,40.707873,-74.001670,19133,Subscriber,1996.0,1
8,NaN,South End Ave & Liberty St,NaN,1297,-74.015756,1900,2015-02-01 11:14:00+00,2015-02-01 11:45:00+00,3002,1228,40.711512,525,W 34 St & 11 Ave,40.755942,-74.002116,17849,Customer,NaN,0
9,NaN,South End Ave & Liberty St,NaN,17637,-74.015756,1830,2015-02-04 16:33:00+00,2015-02-04 17:04:00+00,3002,17590,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20246,Subscriber,1969.0,1

In [7]:
## all unique start_station_id
test =  '''
SELECT DISTINCT start_station_id  as id
FROM fb55.citibike 
WHERE start_station_id IS NOT NULL;
'''

table = get_data(test)
table.id.unique()

array([ 120,  285,  251,  195,  453,  144,  266,  263,  216,  328,  353,
        212,  383,  538,  217,  300,  456,  128,  223,  244,  494,  403,
        260,  445,  411,  377,  427,  232,  331,  416,  492,  490,  443,
        420,  308,  150,  279,  289,  436,  345,  527,  278,  306,  326,
        491,  164,  448,  358,  546,  375,  421,  173,  503, 3002,  440,
        366,  317, 2001,  398,  157,  161,  258,  435,  147,  530,  472,
        493,  476,  344,  396,  388, 2002,  431,  254,  423,  291,  522,
        432,  519,  298,  392,  259,  367,  482, 2000,  498,  340,  415,
        499,  245,  461,  301,  510,  229,  462,  281,  401,  475,  469,
        152,  327,  422,  532,  365,  495,  293,  303,  433, 2023,  225,
        360,  515, 2017,  500,  376, 2012,  372,  364,  237,  485,  233,
        507,  404,  290,  484,  468,  332,  348,  528,  275,  261,  355,
        257, 2004,  153,  407,  474,  361,  304,  174,   83,  294,  368,
        322,  323,  236,  525,  412,  426,  320,  473,  342,  400,  274,
        391,  444,  314,  419,  459,  297,  242,  410,  517,  347,  311,
        280,  247,  380,  337,  480,  467,  346,  402,  539,  516,  343,
        354,   72,  267,  488,  533,  463,  315,  509,  418, 2009,  458,
        501,  248,  387,  394,  478, 2010,  350,  116,  250,  167,  243,
       2021,  466,  408,  271,  143,  146,  481,  502,  324,  450,  321,
         79,  428,  282,  521, 2006,  296,  393,  505,  441,  385,  529,
        334,  460,  524,  406,  239,  442,  513,  512,  284,  504, 2005,
        160,  479,  477,  224,  395,  325,  465,  352,  241,  464,  357,
        471,  457,  369,  489,  520,  336,  508,  526,  316,  537,  430,
        523,  252,  534,  511,  228,  249,  386,  302,  295,  351,  447,
        335,  382,  307,  389, 2022,  417,  434,  446,  449,  414,  409,
        238,  341,  363,  349,  373,  309,  218,  168,  487,  545,  405,
        379,  265,  438,  137,  359,  439,   82,  330,  486,  339,  390,
        127,  397,  310,  454,  531,  268,  329,  518,  514,  437,  270,
        356,  399,  119,  384,  151,  362,  262,  313, 2008,  276,  470,
        455,  496,  312,  318,  497,  305,  264,  483])

In [8]:
## count number of trips, avg, min, and max of trio duration
test = '''
SELECT MAX(tripduration) as Max, MIN(tripduration) as MIN, AVG(tripduration) as AVG, COUNT(tripduration) as COUNT
FROM fb55.citibike 
;
'''

table = get_data(test)
table

     max  min         avg  count
0  43016   60  675.865823  46200

### Task 2

In [9]:
## select trips started on feb 2, 2015 only
test = '''
SELECT *
FROM fb55.citibike
WHERE EXTRACT(MONTH FROM starttime::date) = 2 AND EXTRACT(DAY FROM starttime::date) = 1 AND EXTRACT(YEAR FROM starttime::date) = 2015

; 
'''

table = get_data(test)
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,8 Ave & W 33 St,NaN,0,-73.993934,447,2015-02-01 01:11:00+00,2015-02-01 01:19:00+00,490,93,40.751551,479,9 Ave & W 45 St,40.760193,-73.991255,15185,Subscriber,1983.0,2
6,NaN,Broadway & W 39 St,NaN,1,-73.987216,277,2015-02-01 10:26:00+00,2015-02-01 10:30:00+00,533,847,40.752996,515,W 43 St & 10 Ave,40.760094,-73.994618,16452,Subscriber,1978.0,1
7,NaN,W 18 St & 6 Ave,NaN,2,-73.994564,526,2015-02-01 11:07:00+00,2015-02-01 11:16:00+00,168,1180,40.739713,521,8 Ave & W 31 St,40.750450,-73.994811,16741,Subscriber,1984.0,1
8,NaN,Broadway & E 22 St,NaN,3,-73.989551,502,2015-02-01 12:37:00+00,2015-02-01 12:46:00+00,402,1971,40.740343,459,W 20 St & 11 Ave,40.746745,-74.007756,16951,Subscriber,1983.0,1
9,NaN,W 46 St & 11 Ave,NaN,4,-73.996674,943,2015-02-01 12:46:00+00,2015-02-01 13:02:00+00,508,2053,40.763414,521,8 Ave & W 31 St,40.750450,-73.994811,16897,Subscriber,1966.0,2
10,NaN,Great Jones St,NaN,5,-73.993790,563,2015-02-01 12:54:00+00,2015-02-01 13:03:00+00,229,2138,40.727434,346,Bank St & Hudson St,40.736529,-74.006180,16722,Subscriber,1984.0,1
11,NaN,Carmine St & 6 Ave,NaN,6,-74.002150,519,2015-02-01 15:21:00+00,2015-02-01 15:29:00+00,368,3591,40.730386,503,E 20 St & Park Ave,40.738274,-73.987520,15196,Subscriber,1968.0,1
12,NaN,E 12 St & 3 Ave,NaN,7,-73.988900,500,2015-02-01 17:38:00+00,2015-02-01 17:47:00+00,483,4983,40.732233,435,W 21 St & 6 Ave,40.741740,-73.994156,19409,Customer,NaN,0
13,NaN,W 20 St & 7 Ave,NaN,8,-73.997262,374,2015-02-01 17:48:00+00,2015-02-01 17:55:00+00,334,5067,40.742388,497,E 17 St & Broadway,40.737050,-73.990093,21456,Customer,NaN,0
14,NaN,E 11 St & 1 Ave,NaN,9,-73.984267,420,2015-02-01 19:26:00+00,2015-02-01 19:33:00+00,326,5748,40.729538,527,E 33 St & 2 Ave,40.744023,-73.976056,14878,Subscriber,1988.0,1
15,NaN,W 24 St & 7 Ave,NaN,10,-73.995299,315,2015-02-01 21:34:00+00,2015-02-01 21:39:00+00,446,6086,40.744876,521,8 Ave & W 31 St,40.750450,-73.994811,16042,Subscriber,1956.0,1
16,NaN,8 Ave & W 31 St,NaN,70,-73.994811,801,2015-02-01 00:00:00+00,2015-02-01 00:14:00+00,521,1,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,2
17,NaN,E 17 St & Broadway,NaN,71,-73.990093,379,2015-02-01 00:00:00+00,2015-02-01 00:07:00+00,497,2,40.737050,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,1
18,NaN,Grand Army Plaza & Central Park S,NaN,72,-73.973715,2474,2015-02-01 00:01:00+00,2015-02-01 00:42:00+00,281,3,40.764397,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,2
19,NaN,6 Ave & Broome St,NaN,73,-74.004704,818,2015-02-01 00:01:00+00,2015-02-01 00:15:00+00,2004,4,40.724399,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,2
20,NaN,Lawrence St & Willoughby St,NaN,74,-73.986317,544,2015-02-01 00:01:00+00,2015-02-01 00:10:00+00,323,5,40.692362,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957.0,1
21,NaN,Willoughby Ave & Walworth St,NaN,75,-73.953820,717,2015-02-01 00:02:00+00,2015-02-01 00:14:00+00,373,6,40.693317,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15854,Subscriber,1979.0,1
22,NaN,W 56 St & 6 Ave,NaN,76,-73.977225,1306,2015-02-01 00:04:00+00,2015-02-01 00:26:00+00,352,7,40.763406,504,1 Ave & E 15 St,40.732219,-73.981656,15173,Subscriber,1983.0,1
23,NaN,E 4 St & 2 Ave,NaN,77,-73.989780,913,2015-02-01 00:04:00+00,2015-02-01 00:19:00+00,439,8,40.726281,116,W 17 St & 8 Ave,40.741776,-74.001497,17862,Subscriber,1955.0,1
24,NaN,Washington Pl & Broadway,NaN,78,-73.994046,759,2015-02-01 00:04:00+00,2015-02-01 00:17:00+00,335,9,40.729039,2012,E 27 St & 1 Ave,40.739445,-73.976806,21183,Subscriber,1985.0,2
25,NaN,Greenwich Ave & 8 Ave,NaN,79,-74.002638,585,2015-02-01 00:05:00+00,2015-02-01 00:15:00+00,284,10,40.739017,444,Broadway & W 24 St,40.742354,-73.989151,14843,Subscriber,1982.0,1
26,NaN,Greenwich Ave & 8 Ave,NaN,80,-74.002638,581,2015-02-01 00:05:00+00,2015-02-01 00:15:00+00,284,11,40.739017,444,Broadway & W 24 St,40.742354,-73.989151,16936,Subscriber,1988.0,2
27,NaN,Broadway & W 32 St,NaN,81,-73.988084,204,2015-02-01 00:05:00+00,2015-02-01 00:08:00+00,498,12,40.748549,472,E 32 St & Park Ave,40.745712,-73.981948,21507,Subscriber,1991.0,2
28,NaN,Carmine St & 6 Ave,NaN,82,-74.002150,1169,2015-02-01 00:07:00+00,2015-02-01 00:27:00+00,368,13,40.730386,307,Canal St & Rutgers St,40.714275,-73.989900,17456,Subscriber,1982.0,2
29,NaN,E 11 St & 1 Ave,NaN,83,-73.984267,419,2015-02-01 00:07:00+00,2015-02-01 00:14:00+00,326,14,40.729538,2012,E 27 St & 1 Ave,40.739445,-73.976806,14679,Subscriber,1990.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6411,NaN,Broadway & E 14 St,NaN,6480,-73.990741,440,2015-02-01 23:40:00+00,2015-02-01 23:48:00+00,285,6412,40.734546,2012,E 27 St & 1 Ave,40.739445,-73.976806,18791,Subscriber,1983.0,1
6412,NaN,Bank St & Washington St,NaN,6481,-74.008592,212,2015-02-01 23:40:00+00,2015-02-01 23:43:00+00,238,6413,40.736197,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,20331,Subscriber,1989.0,1
6413,NaN,E 3 St & 1 Ave,NaN,6482,-73.987834,374,2015-02-01 23:41:00+00,2015-02-01 23:47:00+00,428,6414,40.724677,336,Sullivan St & Washington Sq,40.730477,-73.999061,16237,Subscriber,1981.0,1
6414,NaN,Canal St & Rutgers St,NaN,6483,-73.989900,154,2015-02-01 23:41:00+00,2015-02-01 23:44:00+00,307,6415,40.714275,291,Madison St & Montgomery St,40.713126,-73.984844,17086,Subscriber,1994.0,1
6415,NaN,E 16 St & Irving Pl,NaN,6484,-73.987586,618,2015-02-01 23:42:00+00,2015-02-01 23:52:00+00,475,6416,40.735243,518,E 39 St & 2 Ave,40.747804,-73.973442,21279,Subscriber,1980.0,1
6416,NaN,Elizabeth St & Hester St,NaN,6485,-73.996375,593,2015-02-01 23:42:00+00,2015-02-01 23:51:00+00,263,6417,40.717290,502,Henry St & Grand St,40.714215,-73.981346,18187,Subscriber,1966.0,1
6417,NaN,E 37 St & Lexington Ave,NaN,6486,-73.978311,542,2015-02-01 23:42:00+00,2015-02-01 23:51:00+00,160,6418,40.748238,487,E 20 St & FDR Drive,40.733143,-73.975739,14640,Subscriber,1988.0,1
6418,NaN,Carmine St & 6 Ave,NaN,6487,-74.002150,484,2015-02-01 23:42:00+00,2015-02-01 23:50:00+00,368,6419,40.730386,237,E 11 St & 2 Ave,40.730473,-73.986724,17388,Subscriber,1995.0,1
6419,NaN,E 24 St & Park Ave S,NaN,6488,-73.986022,399,2015-02-01 23:42:00+00,2015-02-01 23:48:00+00,491,6420,40.740964,527,E 33 St & 2 Ave,40.744023,-73.976056,18252,Subscriber,1989.0,1
6420,NaN,8 Ave & W 33 St,NaN,6489,-73.993934,723,2015-02-01 23:43:00+00,2015-02-01 23:55:00+00,490,6421,40.751551,513,W 56 St & 10 Ave,40.768254,-73.988639,20849,Subscriber,1984.0,1
6421,NaN,W 33 St & 7 Ave,NaN,6490,-73.990931,356,2015-02-01 23:43:00+00,2015-02-01 23:49:00+00,492,6422,40.750200,476,E 31 St & 3 Ave,40.743943,-73.979661,20751,Subscriber,1986.0,1
6422,NaN,8 Ave & W 33 St,NaN,6491,-73.993934,483,2015-02-01 23:45:00+00,2015-02-01 23:53:00+00,490,6423,40.751551,447,8 Ave & W 52 St,40.763707,-73.985162,18285,Subscriber,1979.0,1
6423,NaN,Greenwich St & N Moore St,NaN,6492,-74.010206,476,2015-02-01 23:48:00+00,2015-02-01 23:56:00+00,329,6424,40.720434,346,Bank St & Hudson St,40.736529,-74.006180,21501,Subscriber,1981.0,1
6424,NaN,E 6 St & Avenue B,NaN,6493,-73.981854,180,2015-02-01 23:48:00+00,2015-02-01 23:51:00+00,317,6425,40.724537,411,E 6 St & Avenue D,40.722281,-73.976687,20797,Subscriber,1988.0,1
6425,NaN,Greenwich St & N Moore St,NaN,6494,-74.010206,597,2015-02-01 23:49:00+00,2015-02-01 23:59:00+00,329,6426,40.720434,368,Carmine St & 6 Ave,40.730386,-74.002150,20267,Subscriber,1972.0,2
6426,NaN,E 43 St & Vanderbilt Ave,NaN,6495,-73.977987,563,2015-02-01 23:49:00+00,2015-02-01 23:58:00+00,318,6427,40.753202,488,W 39 St & 9 Ave,40.756458,-73.993722,14608,Subscriber,1958.0,1
6427,NaN,University Pl & E 14 St,NaN,6496,-73.992005,260,2015-02-01 23:49:00+00,2015-02-01 23:53:00+00,382,6428,40.734927,383,Greenwich Ave & Charles St,40.735238,-74.000271,16957,Subscriber,1962.0,2
6428,NaN,Greenwich St & N Moore St,NaN,6497,-74.010206,1315,2015-02-01 23:51:00+00,2015-02-02 00:13:00+00,329,6429,40.720434,329,Greenwich St & N Moore St,40.720434,-74.010206,17367,Subscriber,1969.0,1
6429,NaN,Allen St & E Houston St,NaN,6498,-73.989111,431,2015-02-01 23:52:00+00,2015-02-01 23:59:00+00,312,6430,40.722055,393,E 5 St & Avenue C,40.722992,-73.979955,15443,Subscriber,1978.0,1
6430,NaN,Canal St & Rutgers St,NaN,6499,-73.989900,773,2015-02-01 23:53:00+00,2015-02-02 00:06:00+00,307,6431,40.714275,127,Barrow St & Hudson St,40.731724,-74.006744,16425,Subscriber,1978.0,1
6431,NaN,9 Ave & W 14 St,NaN,6500,-74.005509,269,2015-02-01 23:53:00+00,2015-02-01 23:57:00+00,404,6432,40.740583,247,Perry St & Bleecker St,40.735354,-74.004831,19073,Subscriber,1976.0,1
6432,NaN,8 Ave & W 31 St,NaN,6501,-73.994811,667,2015-02-01 23:54:00+00,2015-02-02 00:05:00+00,521,6433,40.750450,513,W 56 St & 10 Ave,40.768254,-73.988639,15056,Subscriber,1984.0,1
6433,NaN,W 53 St & 10 Ave,NaN,6502,-73.990617,120,2015-02-01 23:54:00+00,2015-02-01 23:56:00+00,480,6434,40.766697,423,W 54 St & 9 Ave,40.765849,-73.986905,14704,Subscriber,1973.0,1
6434,NaN,Front St & Gold St,NaN,6503,-73.982578,408,2015-02-01 23:55:00+00,2015-02-02 00:01:00+00,418,6435,40.702240,322,Clinton St & Tillary St,40.696192,-73.991218,19251,Subscriber,1974.0,1
6435,NaN,8 Ave & W 31 St,NaN,6504,-73.994811,1523,2015-02-01 23:56:00+00,2015-02-02 00:22:00+00,521,6436,40.750450,3002,South End Ave & Liberty St,40.711512,-74.015756,18107,Subscriber,1968.0,1
6436,NaN,E 47 St & 2 Ave,NaN,6505,-73.970325,608,2015-02-01 23:56:00+00,2015-02-02 00:06:00+00,164,6437,40.753231,479,9 Ave & W 45 St,40.760193,-73.991255,16365,Subscriber,1983.0,1
6437,NaN,Shevchenko Pl & E 7 St,NaN,6506,-73.990214,340,2015-02-01 23:57:00+00,2015-02-02 00:02:00+00,300,6438,40.728145,393,E 5 St & Avenue C,40.722992,-73.979955,21202,Subscriber,1984.0,1
6438,NaN,E 53 St & Lexington Ave,NaN,6507,-73.970694,1604,2015-02-01 23:58:00+00,2015-02-02 00:25:00+00,367,6439,40.758281,428,E 3 St & 1 Ave,40.724677,-73.987834,16593,Subscriber,1961.0,1
6439,NaN,Allen St & Hester St,NaN,6508,-73.991908,428,2015-02-01 23:58:00+00,2015-02-02 00:05:00+00,361,6440,40.716059,400,Pitt St & Stanton St,40.719261,-73.981780,16787,Subscriber,1988.0,1
6440,NaN,Broadway & W 51 St,NaN,6509,-73.983362,398,2015-02-01 23:59:00+00,2015-02-02 00:05:00+00,500,6441,40.762288,72,W 52 St & 11 Ave,40.767272,-73.993929,21223,Subscriber,1974.0,1

In [10]:
## average trip duration on weekend
test = '''
SELECT AVG(tripduration)
FROM fb55.citibike
WHERE EXTRACT(DAY FROM starttime::timestamp) = 7 OR EXTRACT(DAY FROM starttime::timestamp) = 1
; 
'''

table = get_data(test)
table

          avg  Unnamed: 1
0  662.942181         NaN

In [11]:
## average trip duration on weekday
test = '''
SELECT AVG(tripduration)
FROM fb55.citibike
WHERE EXTRACT(DAY FROM starttime::timestamp) != 7 AND EXTRACT(DAY FROM starttime::timestamp) !=  1
; 
'''

table = get_data(test)
table

          avg  Unnamed: 1
0  681.052292         NaN

### Task 3

In [16]:
## list of start locations
test = '''
SELECT start_station_id, start_station_latitude, start_station_longitude
FROM fb55.citibike
GROUP BY  start_station_latitude, start_station_id ,  start_station_longitude
;
'''

table = get_data(test)
table.head()

   start_station_id  start_station_latitude  start_station_longitude
0               524               40.755273               -73.983169
1               389               40.710446               -73.965251
2               399               40.688515               -73.964763
3               302               40.720828               -73.977932
4               500               40.762288               -73.983362

In [13]:
## number of trips per start station 
test = '''
SELECT start_station_id, COUNT(start_station_id) as bikes
FROM fb55.citibike
GROUP BY start_station_id 
ORDER BY bikes DESC
;
'''

table = get_data(test)
table

     start_station_id  bikes
0                 521    530
1                 435    519
2                 293    511
3                 477    507
4                 318    486
5                 497    455
6                 379    424
7                 504    397
8                 490    387
9                 285    373
10                537    372
11                517    362
12                284    342
13                382    341
14                168    327
15                402    324
16                519    323
17                442    320
18                527    319
19                444    319
20                459    311
21                492    309
22                472    308
23                528    302
24                153    298
25                445    296
26                461    296
27                505    296
28                358    292
29                446    292
..                ...    ...
297               232     22
298               275     21
299               245     20
300               298     19
301               339     19
302               418     19
303               365     19
304               119     19
305               321     18
306               282     18
307               437     18
308               407     18
309               343     17
310               120     17
311               314     16
312               217     14
313               289     14
314               481     13
315               364     13
316               443     13
317               216     12
318               389     12
319               409     10
320               436     10
321               372      9
322               144      7
323               218      7
324              2005      7
325               398      5
326              2001      4

[327 rows x 2 columns]

In [14]:
## number of trips per start stations that is withink 500m of Time Square
## 500m is approximately 0.00635243298 degree
test = '''
SELECT start_station_id, COUNT(start_station_id) as bikes
FROM fb55.citibike
WHERE start_station_latitude < 40.7577+0.006 AND start_station_latitude > 40.7577-0.006  AND start_station_longitude > -73.9857-0.006 AND start_station_longitude < -73.9857+0.006 
GROUP BY start_station_id 
ORDER BY bikes DESC
;
'''

table = get_data(test)
table

    start_station_id  bikes
0                477    507
1                153    298
2                523    289
3                465    251
4                529    221
5                173    213
6                500    200
7                533    196
8                510    192
9                479    189
10               450    168
11              2021    141
12               493    141
13               484    137
14               469    136
15               524    112
16               362     98

### Task 4

In [15]:
## station with the longest average weekday trip duration that is located witin 500m of Time Square
test = '''
SELECT start_station_id, AVG(tripduration) as avg
FROM fb55.citibike
WHERE start_station_latitude < 40.7577+0.006 AND start_station_latitude > 40.7577-0.006  AND start_station_longitude > -73.9857-0.006 AND start_station_longitude < -73.9857+0.006
AND EXTRACT(DAY FROM starttime::timestamp) = 1
OR start_station_latitude < 40.7577+0.006 AND start_station_latitude > 40a.7577-0.006  AND start_station_longitude > -73.9857-0.006 AND start_station_longitude < -73.9857+0.006
AND EXTRACT(DAY FROM starttime::timestamp) = 7
GROUP BY start_station_id 
ORDER BY avg DESC
LIMIT 1
; 
'''

table = get_data(test)
table

   start_station_id          avg
0               173  1010.104167

# extra credit: make the function python 2 and 3 compatible so that it works on the  PUI2016_Python3 kernel